# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.bak*
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
cache/
prolabftp/
drupal/
cgi-bin/
php.ini*
.bashrc*
mw/
