/*  calendar calendar table styles  */
.calendar-calendar tr.odd, .calendar-calendar tr.even {
	background-color: #fff;
}
.calendar-calendar table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
	padding: 0;
	width: 100%; /* Setting at 100% causes problem in Internet Explorer. */
	clear: both;
}
.calendar-calendar .month-view table {
	border: 1px #ccc solid;
	padding: 0;
	margin: 0;
	width: 100%;
	clear: both;
}
.calendar-calendar tr {
	padding: 0;
	margin: 0;
	background-color: white;
}
.calendar-calendar th {
	color: #fff;
	background-color: #ccc;
	text-align: center;
	margin: 0;
}
.calendar-calendar th a {
	font-weight: bold;
	color: #fff;
	background-color: #ccc;
}
.calendar-calendar td {
	width: 12%; /* 14% is about 1/7 of total table width */
	min-width: 12%;
	border: 1px solid #ccc;
	color: #777;
	text-align: right;
	vertical-align: top;
	margin: 0;
	padding: 0;
}
/* simplify the mini calendar by removing borders */
.calendar-calendar .mini {
	border: none;
}
table td.mini, table th.mini, table.mini td.week {
	padding: 3px 1px 0 0;
	margin: 0;
}
table td.mini a {
	font-weight: normal;
}
.calendar-calendar .mini-day-off {
	padding: 0px;
}
.calendar-calendar .mini-day-on {
	padding: 0px;
 color:
}
table .mini-day-on a {
	text-decoration: underline;
}
.calendar-calendar .mini .title {
	font-size: .8em;
}
.mini .calendar-calendar .week {
	font-size: .7em;
}
.mini-row {
	width: 100%;
	border: none;
}
.mini {
	width: 32%;
	vertical-align: top;
}
.calendar-calendar .mon.mini.has-no-events {
	color: #c3c3c3;
}
/* Nothing in the cells */
.calendar-calendar table.mini td.empty {
	background: #fbfbfb;
	border-color: #fff;
}
/* today color */
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
	background-color: #C3D6E4 !important;
}
/* format days of the week header cells */
.calendar-calendar th.days {
	color: #316D89;
	-webkit-box-shadow: inset 0 1px 0 0 white;
	-moz-box-shadow: inset 0 1px 0 0 white;
	-ms-box-shadow: inset 0 1px 0 0 white;
	-o-box-shadow: inset 0 1px 0 0 white;
	box-shadow: inset 0 1px 0 0 white;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e8e8e8));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8);
	background-image: -moz-linear-gradient(top, #f5f5f5, #e8e8e8);
	background-image: -ms-linear-gradient(top, #f5f5f5, #e8e8e8);
	background-image: -o-linear-gradient(top, #f5f5f5, #e8e8e8);
	background-image: linear-gradient(top, #f5f5f5, #e8e8e8);
	border-bottom: 1px solid #d4d4d4;
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	padding: 1px;
	margin: 0;
}
/* The following are not used by default but are available for themes */
.calendar-calendar td.past {
}
.calendar-calendar td.future {
}
.calendar-calendar td.has-events {
	background-color: #bbb;
	background: -moz-linear-gradient(top, #c9c9c9 0%, #c3c3c3);
	background: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#c3c3c3));
}
.calendar-calendar td.has-no-events {
	background: #fbfbfb;
}
/* IE needs a little help to get the side by side tables to the right size */
.calendar-calendar .year-view td {
	width: 32%;
	padding: 1px;
	border: none;
}
.calendar-calendar .year-view td table td {
	width: 13%;
	padding: 0;
}
/* format for the week number in the first cell */
.calendar-calendar td.week {
	width: 1%;
	min-width: 1%;
}
.calendar-calendar .week {
	clear: both;
	font-style: normal;
	color: #555;
	font-size: 0.8em;
}
.calendar-calendar .week a {
	font-weight: normal;
}
/* IE6 does not support min-height, using Min-Height fast hack from http://www.dustindiaz.com/min-height-fast-hack */
.calendar-calendar .inner {
	min-height: 5em;
	height: auto !important;
	height: 5em;
	padding: 0;
	margin: 0;
}
.calendar-calendar .inner div {
	padding: 0;
	margin: 0;
}
/* Make sure paragraphs buried in calendar cells use padding, not margins, for separation so the background color doesn't come through. */
.calendar-calendar .inner p {
	padding: 0 0 .8em 0;
	margin: 0;
}
.calendar-calendar td a {
	font-weight: bold;
	text-decoration: none;
}
.calendar-calendar td a:hover {
	text-decoration: underline;
}
.calendar-calendar td.year, .calendar-calendar td.month {
	text-align: center;
}
/*  floating day number div  */
.calendar-calendar div.day {
	float: right;
	text-align: center;
	padding: 0.125em 0.25em 0 0.25em;
	margin: 0;
	background-color: #f3f3f3;
	border: 1px solid gray;
	border-width: 0 0 1px 1px;
	clear: both;
	width: 1.5em;
}
/*  individual node container  */
.calendar-calendar div.calendar {
	background-color: #fff;
	border: solid 1px #ddd;
	text-align: left;
	margin: 0 .25em .25em 0;
	width: 96%;
	float: right; /* needed to keep IE from hiding the floating day number */
	clear: both;
}
/* No floating of day view content because there is no floating day number */
.calendar-calendar .day-view div.calendar {
	float: none;
	width: 98%;
	margin: 1% 1% 0 1%;
}
.calendar-calendar div.title {
	font-size: .8em;
	text-align: center;
}
.calendar-calendar div.title a {
	color: #000;
}
.calendar-calendar div.title a:hover {
	color: #c00;
}
.calendar-calendar .content {
	clear: both;
	padding: 3px;
	padding-left: 5px;
}
.calendar div.form-item {
	white-space: normal;
}
/* wrapping Div   */
.mini-cal {
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}
/* formatting for the legend stripe and block */
.calendar-calendar .stripe {
	height: 5px;
	width: auto;
	font-size: 1px !important;
	line-height: 1px !important;
}
.calendar-calendar .day-view .stripe {
	width: 100%;
}
table.calendar-legend {
	background-color: #ccc;
	width: 100%;
	margin: 0;
	padding: 0;
}
table.calendar-legend tr.odd .stripe, table.calendar-legend tr.even .stripe {
	height: 12px !important;
	font-size: 9px !important;
	line-height: 10px !important;
}
.calendar-legend td {
	text-align: left;
}
.calendar-empty {
	font-size: 1px;
	line-height: 1px;
}
/* formatting for the full day view */  
.calendar-calendar td.calendar-agenda-hour {
	font-family: serif;
	text-align: right;
	border: none;
	border-top: 1px #333 dotted;
	padding-top: .25em;
	width: 1%;
}
.calendar-calendar td.calendar-agenda-no-hours {
	min-width: 1%;
}
.calendar-calendar td.calendar-agenda-hour .calendar-hour {
	font-size: 1.2em;
	font-weight: bold;
}
.calendar-calendar td.calendar-agenda-hour .calendar-ampm {
	font-size: 1em;
}
.calendar-calendar td.calendar-agenda-items {
	border: 1px #333 dotted;
	text-align: left;
}
.calendar-calendar td.calendar-agenda-items div.calendar {
	width: auto;
	padding: .25em;
	margin: 0;
}
.calendar-calendar div.calendar div.inner .calendar-agenda-empty {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 1em 0;
	background-color: #fff;
}
/* the popup date selector for jumping to a new date */
.calendar-date-select form {
	text-align: right;
	float: right;
	width: 25%;
}
.calendar-date-select div, .calendar-date-select input, .calendar-date-select label {
	text-align: right;
	padding: 0;
	margin: 0;
	float: right;
	clear: both;
}
.calendar-date-select .description {
	float: right;
}
.calendar-label {
	font-weight: bold;
	display: block;
	clear: both;
}
.date-heading h3 a {
	font-size: 14px;
}
.date-nav-wrapper .date-nav {
	clear: both;
	padding-bottom: 0;
	width: 100%;
	margin-bottom: 3px !important;
}
.calendar-calendar div.date-nav {
	background-color: #ccc;
	color: #777;
	width: auto;
	border: 1px solid #ccc;
	margin: 0;
}
.calendar-calendar div.date-nav a, .calendar-calendar div.date-nav h3 {
	color: #777;
}
.calendar-calendar td.empty {
	background: #ccc;
	border-color: #ccc;
}
.calendar-calendar td div.day {
	border: 1px solid #ccc;
	border-top: none;
	border-right: none;
	margin-bottom: 2px;
}
.calendar-calendar td .inner div, .calendar-calendar td .inner div a {
	background: #eee;
}
/* Set small font size for all items in calendar div, themes can override this. */
/* Use x-small instead of em to avoid multiplying effect in nested items. */
.calendar-calendar div.calendar {
	border: none;
	font-size: x-small;
}
.calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a {
	border: none;
	background: #ffc;
	padding: 0 2px;
}
.calendar-calendar td .inner div.calendar div.calendar-more, .calendar-calendar td .inner div.calendar div.calendar-more a {
	color: #444;
	background: #fff;
	text-align: right;
}
.calendar-calendar td .inner .view-field, .calendar-calendar td .inner .view-field a {
	color: #444;
	font-weight: normal;
}
.calendar-calendar td span.date-display-single, .calendar-calendar td span.date-display-start, .calendar-calendar td span.date-display-end, .calendar-calendar td span.date-display-separator {
	font-weight: bold;
}
.calendar-calendar td .inner div.day a {
	color: #4b85ac;
}
/* today color */
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
	background-color: #C3D6E4;
}
.calendar-calendar td .inner div.calendar div div.view-data-node-data-field-date-field-date-value {
	border-bottom: 1px solid #ccc;
}
/**
 * Restyle Header
 */
.view .date-nav-wrapper .clear-block {
	margin-bottom: 0px;
}
.view .date-nav-wrapper {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 0 0 #1467b7;
	-moz-box-shadow: inset 0 1px 0 0 #1467b7;
	-ms-box-shadow: inset 0 1px 0 0 #1467b7;
	-o-box-shadow: inset 0 1px 0 0 #1467b7;
	box-shadow: inset 0 1px 0 0 #1467b7;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* IE10+ */
	background: linear-gradient(135deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-weight: bold;
	padding: 8px 0;
	position: relative;
	width: 100%;
}
.view .date-nav-wrapper a {
	color: white;
	font-size: 13pt;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
	font-family: 'Source Sans Pro', sans-serif;
}
.view .date-nav-wrapper .date-nav {
	background-color: transparent;
	border: 0px;
	height: auto;
	position: relative;
	margin-bottom: 00px;
}
.view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
	text-decoration: none;
	color: inherit;
	font-size: 12px;
}
.view .date-nav-wrapper.date-nav a:hover {
	text-decoration: underline;
}
.view .date-nav-wrapper .date-prev {
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	background: none repeat scroll 0 0 #dfdfdf;
	float: none;
	position: absolute;
	left: 10px;
	text-align: right;
	top: 5px;
	width: auto;
	z-index: 1;
	font-size: 16px;
}
.block-views .view .date-nav-wrapper .date-prev {
	left: 10px;
	right: auto;
}
.view .date-nav-wrapper .date-prev a {
	margin-left: 10px;
	font-weight: bold;
}
.view .date-nav-wrapper .date-heading {
	position: relative;
	width: 100%;
	top: 4px;
	text-align: center;
	z-index: 0;
}
.view .date-nav-wrapper .date-heading h3 {
	line-height: 30px;
	font-size: 1.7em;
}
.view .date-nav-wrapper .date-next {
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	background: none repeat scroll 0 0 #dfdfdf;
	float: none;
	position: absolute;
	right: 10px;
	text-align: right;
	top: 4px;
	width: auto;
	z-index: 1;
	font-size: 16px;
}
.view .date-nav-wrapper .date-next a {
	margin-right: 10px;
	font-weight: bold;
}
.attachment .calendar-calendar {
	margin-top: 20px;
	clear: both;
}
.calendar-calendar th a, .attachment .calendar-calendar th {
	background-color: transparent;
	border: 0px;
}
.attachment .calendar-calendar th.calendar-agenda-hour {
	color: #777777;
	font-weight: bold;
	text-align: right;
}
.view-calendar .feed-icon {
	margin-top: 5px;
}
.view table.mini .date-prev, .view table.mini .date-next {
	background: none;
}
.date-nav div.date-prev, .date-nav div.date-next, .date-nav {
	width: auto;
}
ul.calendar-links, .region-content ul.calendar-links {
	margin: 0;
	padding: 0;
}
.year-view div.month-view div.date-nav {
	background-color: #DFDFDF;
	min-height: 20px;
}
ul.pager {
	margin: 0;
	padding: 0;
}

/*-------------------------------------------------*/
/* =  Calendar 
/*-------------------------------------------------*/
/* Program Search */

.program_search {
	margin: 30px 0 0 10px;
	width: 175px;
}
.program_search .custom-search-box {
	height: 22px;
	border: 1px solid #aaa;
	-webkit-border-radius: 0px 3px 2px 0px;
	-moz-border-radius: 0px 3px 2px 0px;
	border-radius: 0px 3px 2px 0px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 5px #bbb;
	-moz-box-shadow: inset 0 0 5px #bbb;
	box-shadow: inset 0 0 5px #bbb;
	overflow: hidden;
	width: 100%;
	padding: 0 0 0 3px;
}
.program_search .form-submit {
	position: absolute;
	float: right;
	top: 1px;
	right: -6px;
	height: 22px;
	width: 50px;
	font-size: 10px;
	color: #fff;
	text-align: center;
	border-width: 0;
	border-left: 1px solid #aaa;
	-webkit-border-radius: 0px 3px 2px 0px;
	-moz-border-radius: 0px 3px 2px 0px;
	border-radius: 0px 3px 2px 0px;
	background-color: #bbb;
	background: -moz-linear-gradient(top, #c9c9c9 0%, #999999);
	background: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#999999));
	-webkit-box-shadow: -4px 0px 3px -2px #ddd;
	-moz-box-shadow: -4px 0px 3px -2px #ddd;
	box-shadow: -4px 0px 3px -2px #ddd;
	cursor: pointer;
}
.form-type-bef-checkbox {
	margin: 0px 0 0 25px;
}
.category-filter .description {
	margin: 4px 0 0 28px;
	color: #999;
}
.form-type-bef-checkbox .option {
	font-weight: normal!important;
	font-family: arial;
	font-size: 10px;
	text-transform: uppercase;
}
.form-type-bef-checkbox input[type="checkbox"] {
	-webkit-appearance: none;
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #d5d5d5;
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 3px;
	vertical-align: text-top;
	padding: 0;
}
.form-type-bef-checkbox input[type=checkbox]:checked#edit-field-event-category-value-children039s-program {
	background: green;
}
.form-item-edit-field-event-category-value-children039s-program, .children {
	color: green;
}
.form-type-bef-checkbox input[type=checkbox]:checked#edit-field-event-category-value-film {
	background: red;
}
.form-item-edit-field-event-category-value-film, .film {
	color: red;
}
.form-type-bef-checkbox input[type=checkbox]:checked#edit-field-event-category-value-music {
	background: #F90;
}
.form-item-edit-field-event-category-value-music, .music {
	color: #F90;
}
.form-type-bef-checkbox input[type=checkbox]:checked#edit-field-event-category-value-guided-tour {
	background: #09C;
}
.form-item-edit-field-event-category-value-guided-tour, .tour {
	color: #09C;
}
.form-type-bef-checkbox input[type=checkbox]:checked#edit-field-event-category-value-lecture {
	background: #96C;
}
.form-item-edit-field-event-category-value-lecture, .lecture {
	color: #96C;
}
.form-type-bef-checkbox input[type=checkbox]:checked#edit-field-event-category-value-special-event {
	background: #0C6;
}
.form-item-edit-field-event-category-value-special-event, .special {
	color: #0C6;
}
h2.program_title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	margin: 0 0 2px 0;
}
.view-programs .featured .event_list {
	background: url("../images/featured.gif") top right;
	padding: 20px 0 20px 0;
	width: 100%;
	border-left: 1px #efefef solid;
	border-right: 1px #efefef solid;
	border-bottom: 1px #efefef solid;
}
.calendar-list h3 {
	float: left;
	padding: 5px 0 5px 0;
	color: #bfbfbf;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	border-top: 1px #efefef dotted;
	width: 100%;
}
.program_date {
	font-weight: bold;
	color: #666;
	line-height: 14px;
}
.program_location {
	line-height: 14px;
}
.program_cat {
	text-transform: uppercase;
	font-size: 11px;
	line-height: 14px;
}
.program_body {
	border-top: #B1C6EC 1px solid;
	margin: 6px 15px 0 0;
	padding: 8px 0 0 0;
}
.event_list {
	display: block;
	float: left;
	width: 100%;
	margin: 4px 0 4px 0;
}
.event_left {
	float: left;
	width: 95px;
	margin: 5px 0 5px 28px;
}
.event_list img {
	-moz-box-shadow: 0px 3px 4px #dbdbdb;
	-webkit-box-shadow: 0px 3px 4px #dbdbdb;
	box-shadow: 0px 3px 4px #dbdbdb;
}
.event_right {
	float: left;
	width: 345px;
	padding: 8px 20px 5px 0;
	vertical-align: middle;
}
/*-------------------------------------------------*/
/* = PROGRAM DETAIL NODE
/*-------------------------------------------------*/

h2.programdetail_title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #545454;
	padding: 0 0 7px 0;
	border-bottom: 1px #efefef solid;
	margin: 0 0 7px 0;
}
.program_left {
	float: left;
	width: 420px;
}
.program_info {
	background: url(../images/stripe.png);
	position: relative;
	padding: 17px 24px 17px 40px;
	margin: 20px 0 0 00px;
	display: block;
	-moz-box-shadow: 0px 2px 8px #efefef;
	-webkit-box-shadow: 0px 2px 8px #efefef;
	box-shadow: 0px 2px 8px #efefef;
}
.program_info:after {
	content: '';
	position: absolute;
	left: 0;
	top: -1px;
	bottom: -1px;
	width: 0px;
	border-left: 3px solid #0068b5;
}
.program_right img {
	-moz-box-shadow: 0px 5px 8px #898989;
	-webkit-box-shadow: 0px 5px 8px #898989;
	box-shadow: 0px 5px 8px #898989;
}
.program_right {
	float: left;
	width: 380px;
	display: block;
	margin: 15px 0 0 10px;
	padding-right: 15px;
}
.programdetail_time {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	color: #0068b5;
}
.programdetail_date {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 17px;
}
.programdetail_location {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 6px 0;
	font-size: 15px;
	line-height: 17px;
	padding: 7px 0 0px 0;
	border-top: 1px #efefef solid;
	margin: 7px 0 7px 0;
}
.programdetail_category {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 17px;
	text-transform:uppercase;
}
.programdetail_related {
	font-size:11px;
	padding:0 0 6px 0;

}

.programdetail_body {
	padding: 10px 24px 17px 40px;
	width: 340px;
}