/*-------------------------------------------------*/
/* =  Reset
/*-------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, select, textarea {
	outline: none;
}

/*-------------------------------------------------*/
/* =  Main Content Styles
/*-------------------------------------------------*/
address { font-style: italic; }

abbr[title],
acronym[title],
dfn[title] {
	cursor: help;
	border-bottom: 1px dotted #666;
}

strong, b { font-weight: bold; }

i,
em,
dfn,
cite { font-style: italic; }

dfn { font-weight: bold; }

sup {
	font-size: 11px;
	vertical-align: top;
}

sub {
	font-size: 11px;
	vertical-align: bottom;
}

small { font-size: 11px; }

del { text-decoration: line-through; }

ins { text-decoration: underline; }

code,
pre { line-height: 18px; }

var,
kbd,
samp,
code,
pre {
	font: 11px/19px Courier, "Courier New";
	color: #333;
	background: #f8f8f8;
}

kbd { font-weight: bold; }

samp,
var { font-style: italic; }

pre {
	white-space: pre;
	overflow: auto;
	padding: 10px;
	margin: 40px;
	clear: both;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

code { padding: 3px; }

table {
	border: 1px solid #ccc;
	border-width: 1px;
	line-height: 18px;
	margin: 0 0 22px 0;
	text-align: left;
	padding: 0 5px;
}

table .even { background: #ddd; }

caption { text-align: left; }

tr { border-bottom: 1px solid #ccc; }

th,
td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}

/*-------------------------------------------------*/
/* =  General Style
/*-------------------------------------------------*/
body {
	font-family: arial;
	font-size: 12px;
	color: #666;
	background: #f9f9f9;
}

a {
	text-decoration:none;
	transition: color, opacity 0.2s linear;
	-moz-transition: color, opacity 0.2s linear;
	-webkit-transition: color, opacity 0.2s linear;
	-o-transition: color, opacity 0.2s linear;
	outline: none;
	color: #509ABD;
}

a:hover {
	color: #316D89;
}

p {
	color: #6d6d6d;
	line-height: 20px;
}

blockquote {
	border-left: 2px solid #dc3019;
	border-right: 2px solid #dc3019;
	padding: 0px 16px;
	margin: 20px 0px;
	font-family: 'Times New Roman';
	color: #828282;
	line-height: 24px;
	font-size: 18px;
	font-style: italic;
}


::selection, ::-moz-selection { color: #fff; } 
::selection, ::-moz-selection { background-color: #d91c03; } 

/*-------------------------------------------------*/
/* =  clearfix
/*-------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*-------------------------------------------------*/
/* =  General Style
/*-------------------------------------------------*/
#container {
	width: 960px;
	margin: 0 auto 50px auto;
	padding: 20px;
	background: #fff;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
	border-left: 1px solid #eee\0/;
	border-right: 1px solid #eee\0/;
}

/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
header {
	width: 100%;
}

#logo {
	float: left;
	margin-top: 10px;
}

#ads-top {
	float: right;
}

#search-bar {
	float: right;
	width: auto;
	height: 26px;
	margin-left: 20px;
	margin-top: 31px;
	border: 1px solid #d8d8d8;
	background: #fff;
}

#search-bar input[type="text"] {
	float: left;
	width: 162px;
	height: 24px;
	line-height: 24px;
	padding-left: 10px;
	border: 0px;
	font-family: 'Times New Romans';
	font-style: italic;
	font-size: 11px;
	color: #bfbfbf;
}

#search-bar input[type="submit"] {
	border: 0px;
	border-left: 1px solid #d8d8d8;
	float: right;
	width: 31px;
	height: 26px;
	background:#fff url(../images/search-icon.png) no-repeat center center;
	cursor: pointer;
}

/* Navigation */
header nav {
	clear: both;
	float: left;
	margin-top: 20px;
	width: 100%;
	border-top: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

header nav:before {
	content: '';
	background: url(../images/menu-shadow.png) repeat-x;
	height: 3px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/*z-index: -1;*/
}

header nav > ul > li {
	float: left;
	border-right: 1px solid #e4e4e4;
}

header nav > ul > li a {
	display: block;
	font-size: 14px;
	padding: 20px 20px 18px 20px;
	color: #646464;
	border-bottom: 2px solid transparent;
	transition: border 0.2s linear;
	-moz-transition: border 0.2s linear;
	-webkit-transition: border 0.2s linear;
	-o-transition: border 0.2s linear;
}

header nav > ul > li > a:not(.active):hover {
	border-bottom: 2px solid #d91c03;
	color: #d91c03;
}

header nav ul li a.active {
	color: #fff !important;
	background: #d91c03;
}

header nav > ul > li > a.active:after {
	content: '';
	background: url(../images/menu-shadow.png) repeat-x;
	height: 3px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: -2px;
}

/* DropDown Menu = Superfish */
.sf-menu {
	line-height: 1.0;
}

.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 180px; /* left offset of submenus need to match (see below) */
}

.sf-menu ul li {
	width: 100%;
	border: 1px solid #e8e8e8;
	border-top: none;
}

.sf-menu ul li li:first-child {
	border-top: 1px solid #e8e8e8;
}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
	float: left;
	position: relative;
}

.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 0;
	top: 54px; /* match top ul list item height */
	z-index: 99;
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 180px; /* match ul width */
	top: -1px;
	/*margin-left: 2px;*/
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 180px; /* match ul width */
	top: -1px;
}

.sf-menu li li {
	background: rgba(255,255,255, 0.95);
	background: url(http://www.htmltocss.com/rgbatopng.php?rgba=255,255,255,0.95)\0/;
	padding-right: 0px;
}

.sf-menu li li li {
	background: rgba(255,255,255, 0.95);
	background: url(http://www.htmltocss.com/rgbatopng.php?rgba=255,255,255,0.95)\0/;
	padding-right: 0px;
}

.sf-menu .sub-menu a {
	padding: 11px 10px;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline: 0;
	color: #d91c03;
}

/* Sub Menu */
header #sub-menu {
	clear: both;
	display: block !important;
	background: #eee;
	padding: 11px 13px 3px 13px;
}

header #sub-menu li {
	display: inline-block;
	margin: 0 20px 8px 0;
}

header #sub-menu li:last-child {
	margin-right: 0px;
}

header #sub-menu a {
	font-size: 11px;
	color: #2e2e2e;
}

header #sub-menu a:hover {
	color: #d91c03;
}

/*-------------------------------------------------*/
/* =  Mobile Menu - selectbox
/*-------------------------------------------------*/
.sbHolder {
	background: rgba(217,28,3, 0.8);
	background: url(http://www.htmltocss.com/rgbatopng.php?rgba=217,28,3,0.8)\0/;
	/*border: 1px solid #e4e4e4;*/
	height: 44px;
	line-height: 44px;
	position: relative;
	width: 100%;
	z-index: 99;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
	display: none;
}

.sbSelector{
	display: block;
	height: 44px;
	left: 0;
	line-height: 44px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 100%;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #fff;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(../images/select-icons.png) 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 5px;
	top: 7px;
	width: 30px;

	transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
}
.sbToggle:hover {
	opacity: 0.8;
	background-position: 0 -167px;
}
.sbToggleOpen {
	background-position: 0 -16px;
}
.sbToggleOpen:hover {
	opacity: 0.8;
	background-position: 0 -166px;
}
.sbOptions {
	background-color: #fff;
	border: 1px solid #e4e4e4;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 1;
	overflow-y: auto;
	max-height: 226px !important;
}
.sbOptions li {
	padding: 0 5px;
}
.sbOptions a {
	border-bottom: dotted 1px #e4e4e4;
	display: block;
	outline: none;
	padding: 0 0 0 3px;
}
.sbOptions a:link, .sbOptions a:visited {
	color: #646464;
	text-decoration: none;
	padding-left: 20px;
}
.sbOptions > li:first-child > a {
	padding-left: 10px;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #d91c03;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #e4e4e4;
	color: #646464;
	display: block;
	font-weight: bold;
	padding: 0 0 0 10px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}


/*-------------------------------------------------*/
/* =  Content
/*-------------------------------------------------*/
#center-content {
	width:400px;
	float:left;
}

#content {
	float: left;
	border-right: 1px solid #e4e4e4;
	width: 700px;
	padding-top: 20px;
}

#content.full-width {
	width: 100% !important;
	padding-right: 0 !important;
	border-right: none !important;
}

.left-sidebar #content {
	float: right;
	border-right: none;
	border-left: 1px solid #E4E4E4;
	padding-right: 0;
	padding-left: 20px;
}

.home #content {
	padding-top: 24px;
}

.posts-container {
	margin-bottom: 40px;
}
.hp-posts-container {
	width:410px;
	margin-bottom: 40px;
	float:left;
}

.category-title {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 13px;
	color: #000;
}

.category-title a {
	color: #000;
}

.page-title {
	border: 1px solid #e4e4e4;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: #545454;
	padding: 17px 24px;
	margin-bottom: 18px;
	position: relative;
}

.page-title:after {
	content: '';
	position: absolute;
	left: -1px;
	top: -1px;
	bottom: -1px;
	width: 0px;
	border-left: 7px solid #d91c03;
}

/*-------------------------------------------------*/
/* =  Ads
/*-------------------------------------------------*/
.ads-1 {
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*.ads-1 img {
	width: 100%;
}*/

/*-------------------------------------------------*/
/* =  Post in Categories, Archives etc.
/*-------------------------------------------------*/
.post-container {
	padding-bottom: 36px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 36px;
}
.post-container > a:first-child {
	float: left;
	margin-right: 20px;
}

.post-container > a img {
	width: 250px;
	height: 192px;
	border: 8px solid #cfcfcf;
}

.post-container .read-more {
	clear: none;
	float: right;
	margin-top: 15px;
}

/*-------------------------------------------------*/
/* =  Social Media
/*-------------------------------------------------*/
.social-media {
	margin-top: 16px;
	display: block;
}

.page-container .social-media {
	margin-bottom: 14px;
}

.post-container .social-media {
	float: left;
	margin-top: 18px;
}

.social-media ul {
	margin: 0 !important;
}

.social-media li {
	list-style: none !important;
	float: left;
	margin-right: 12px;
}

.social-media li.twitter {
	width: 80px;
}

.social-media li:last-child {
	margin-right: 0;
}

/*-------------------------------------------------*/
/* =  Page & Singlepost
/*-------------------------------------------------*/
/*.page-container {
	margin-top: 28px;
}*/

.page-container .post-title {
	margin-bottom: 10px;
}

.page-container ul:not(.children), .page-container ol:not(#comments) {
	margin: 0 0 15px 20px;
	color: #4D4D4D;
}

.page-container ul:not(.children) ul:not(.children),
.page-container ul:not(.children) ol:not(#comments),
.page-container ol:not(#comments) ul:not(.children),
.page-container ol:not(#comments) ol:not(#comments) {
	margin: 5px 0 5px 20px;
}

.page-container ol:not(#comments) li,
.page-container ul:not(.children) li {
	line-height: 20px;
}

.page-container ul > li {
	list-style: disc;
}

.page-container .ads-1 {
	margin-bottom: 15px;
}

.page-container ol:not(#comments) > li {
	list-style: decimal;
}

.page-container p {
	margin-bottom: 10px;
}

.page-container .post-meta {
	margin-bottom: 10px;
}

.videoembed {
	width: 619px;
	height: 343px;
	margin-bottom: 15px;
}

.page-container .post-image img {
	width: 603px;
	border: 8px solid #cfcfcf;
	margin-bottom: 15px;
}

.page-container .gallery {
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}

.page-container .gallery ul.slides {
	list-style: none;
	margin: 0;
}

.page-container .gallery ul.slides > li {display: none; }

.page-container .gallery li img {
	border: 8px solid #cfcfcf;
	width: 603px;
	height: 312px;
}

/* Control Nav */
.page-container .gallery .flex-control-nav { position: absolute; bottom: 30px; left: 20px; text-align: center; margin: 0 !important; }
.page-container .gallery .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.page-container .gallery .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .8); -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .8); box-shadow: 0px 0px 5px rgba(0,0,0, .8); border: 1px solid #555\0/; }
.page-container .gallery .flex-control-paging li a.flex-active { background: #797979; cursor: default; }

.page-container h1,
.page-container h2,
.page-container h3,
.page-container h4,
.page-container h5,
.page-container h6 {
	color: #404040;
	font-weight: bold;
}

.page-container h1 {
	font-size: 22px;
	margin-bottom: 16px;
	line-height: 28px;
}

.page-container h2 {
	font-size: 20px;
	margin-bottom: 14px;
	line-height: 26px;
}

.page-container h3 {
	font-size: 18px;
	margin-bottom: 12px;
	line-height: 24px;
}

.page-container h4 {
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 22px;
}

.page-container h5 {
	font-size: 14px;
	margin-bottom: 8px;
	line-height: 20px;
}

.page-container h6 {
	font-size: 12px;
	margin-bottom: 6px;
	line-height: 18px;
}

.line {
	height: 0px;
	width: 100%;
	border-bottom: 1px solid #e4e4e4;
	margin: 15px 0;
}

/*-------------------------------------------------*/
/* =  Contact Page
/*-------------------------------------------------*/
.contact-form input[type="text"],
.contact-form textarea {
	clear: both;
	float: left;
	border: 1px solid #d8d8d8;
	margin-bottom: 15px;
	padding: 8px 10px;
	font-family: arial;
	color: #878787;
	font-size: 11px;
	width: 240px;
}

.contact-form input[type="text"].error,
.contact-form textarea.error {
	color: #d84c4c;
}

.contact-form textarea {
	min-height: 130px;
	min-width: 400px;
	max-width: 400px;
}

.contact-form input[type="submit"] {
	clear: both;
	float: right;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	border: none;
	padding: 12px 30px;
	background: #d91c03;
	cursor: pointer;
	margin-right: 197px;
}

.contact-form #submit {
	clear: none;
}

input[type="submit"] {
	transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
}

input[type="submit"]:hover {
	opacity: 0.85;
	-moz-opacity: 0.85;
	filter:alpha(opacity=85);
}

.message {
	clear: both;
	float: left;
	max-width: 200px;
	height: 40px;
	line-height: 42px;
	overflow: hidden;
	font-size: 11px;
}

.message.error {
	color: #d84c4c;
}
.message.success { 
	color: #619d21;
}

#map {
	width: 618px;
	height: 328px;
	margin: 15px 0 25px 0;
}

/*-------------------------------------------------*/
/* =  Pagenation
/*-------------------------------------------------*/
.pagenation {
	margin: -16px 0 46px 0;
}

.pagenation li {
	float: left;

	margin-left: 4px;

	background: #626262; /* Old browsers */
	background: -moz-linear-gradient(top,  #626262 0%, #4c4c4c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#626262), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #626262 0%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #626262 0%,#4c4c4c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #626262 0%,#4c4c4c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #626262 0%,#4c4c4c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626262', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */

}

.pagenation li.active {
	background: #dc3019; /* Old browsers */
	background: -moz-linear-gradient(top,  #dc3019 0%, #c61a03 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc3019), color-stop(100%,#c61a03)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dc3019 0%,#c61a03 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dc3019 0%,#c61a03 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dc3019 0%,#c61a03 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dc3019 0%,#c61a03 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc3019', endColorstr='#c61a03',GradientType=0 ); /* IE6-9 */
}

.pagenation li:first-child {
	margin-left: 0px;
}

.pagenation li a {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 12px;
}

.pagenation li:not(.active):hover {
	opacity: 0.90;
	-moz-opacity: 0.90;
	filter:alpha(opacity=90);
}

/*-------------------------------------------------*/
/* =  Module 1 - Main Post with other posts
/*-------------------------------------------------*/
.main-post {
	float: left;
	width: 410px;
/*	margin-left: 20px; */
	padding-bottom:15px;
	border-bottom:dotted 1px #eee;
}

.main-post a img {
	border: 8px solid #eee;
	margin-bottom: 8px;
}
.main-post h2 {
	font-size: 17px;
	font-weight: bold;
	color: #404040;
	line-height: 24px;
	margin-bottom: 2px;
}


.post-content {
	overflow: hidden;
	max-height: 136px;
}

.post-title {
	font-size: 17px;
	font-weight: bold;
	color: #404040;
	line-height: 24px;
	margin-bottom: 8px;
}

.post-title a {
	color: #404040;
}

.other-posts {
	float: left;
	width: 260px;
	margin-right:20px;
}



.other-posts li {
	display: block;
	margin-top: 17px;
	float: left;
	clear: both;
	width: 240px;
}

.other-posts li:first-child {
	margin-top: 0px;
}

.other-posts li a {
	display: block;
}

.other-posts li img {
	float: left;
	margin-right: 10px;
}

.other-posts li h3 {
	font-size: 12px;
	font-weight:bold;
	line-height: 17px;
	color: #828282;

	
}

.other-posts li h3 a {
	color: #828282;
}

.other-posts a:hover {
	opacity: 0.8;
}

.post-date,
.other-posts li .date {
	font-size: 10px;
	color: #999;
	line-height: 15px;
	}
.other-posts li .location {
	font-size: 10px;
	color: #999;
	
}

.post-meta {
	margin-top: 10px;
}

.post-meta a {
	color: #999;
}

.post-meta .comments {
	font-family: 'Georgia';
	font-size: 11px;
	font-style: italic;
	color: #999;
	display: inline-block;
	padding-left: 28px;
	height: 20px;
	line-height: 20px;
	margin-right: 15px;
	background: url(../images/comments-icon.png) no-repeat left center;
}

.post-meta .author {
	font-family: 'Georgia';
	font-size: 11px;
	font-style: italic;
	color: #999;
	display: inline-block;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
	margin-right: 15px;
	background: url(../images/author-icon.png) no-repeat left center;
}

.post-meta .date {
	font-family: 'Georgia';
	font-size: 11px;
	font-style: italic;
	color: #999;
	display: inline-block;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
	background: url(../images/date-icon.png) no-repeat left center;
}

.read-more {
	clear: both;
	float: left;
	margin-top: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #555;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 10px;

	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.read-more:hover {
	color: #fff;
	opacity: 0.8;
}


.sub_story {
	float: left;
	width:400px;
	margin-top:15px;
	display: block;
}

.sub_story li{
		width:400px;
		float:left;
	display: block;
}
.sub_story img{
	float:left;
	margin:0 8px 8px 0;
	border: 4px solid #eee;
	}
.sub_story h2 {
	font-size:12px;
	line-height:14px;
	font-weight:bold;
}

.sub_story .li:last-child {
	margin-right: 0px;
}

/*-------------------------------------------------*/
/* =  Module 2 - Gallery
/*-------------------------------------------------*/
.carousel {
	position: relative;
}

.carousel .jcarousel-clip {
	width: 619px !important;
	overflow: hidden;
}

.carousel .slides li {
	float: left;
	width: 193px;
	margin-right: 20px;
}

.carousel .slides li:last-child {
	margin-right: 0px;
}

.carousel .jcarousel-next,
.carousel .jcarousel-prev {
	position: absolute;
	border: none;
	top: -34px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-indent: -9999px;
}

.carousel .jcarousel-prev {
	right: 24px;
	background: url(../images/left-arrow-icon.png) no-repeat 1px 0px;
}

.carousel .jcarousel-next {
	right: 0px;
	background: url(../images/right-arrow-icon.png) no-repeat;
}

.carousel.gallery .slides li {
	height: 158px;
}

.carousel .slides li > a:not(.read-more) {
	display: block;
	position: relative;

	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

.carousel.gallery .slides li > a:hover:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../images/gallery-image-hover.png) no-repeat center center;
}

.carousel.gallery .slides li > a:hover {
	opacity: 0.70;
	-moz-opacity: 0.70;
	filter:alpha(opacity=70);
}

.carousel.gallery .slides li img,
.carousel .slides li img {
	border: 7px solid #eee;
	width: 179px;
	height: 138px;
}

/*-------------------------------------------------*/
/* =  Module 3 - Carousel Posts
/*-------------------------------------------------*/
.carousel .post-content {
	overflow: hidden;
	max-height: 142px;
	margin-top: 15px;
}

.carousel .post-title {
	font-size: 15px;
	font-weight: bold;
	color: #404040;
	line-height: 24px;
	margin-bottom: 10px;
}

.carousel .post-title a {
	color: #404040;
}

.carousel .read-more {
	background: #d91c03;
}

/*-------------------------------------------------*/
/* =  Sidebar
/*-------------------------------------------------*/
#sidebar {
	float: right;
	position: relative;
	width: 250px;
	padding-bottom: 30px;
	/* [disabled]border-left: 1px solid #e4e4e4; */
}

#sidebar > ul > li {
	float: right;
	width: 239px;
	margin-bottom: 40px;
	margin-left: 15px !important;	/*transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;*/
}

.left-sidebar #sidebar {
	float: left;
	/*padding: 34px 20px 0 0;*/
	margin-left: 0px;
	margin-right: -4px;
	border-left: none;
	border-right: 1px solid #E4E4E4;
}

.left-sidebar #sidebar > ul > li {
	float: left;
	margin-left: 0px !important;
}

#sidebar > ul > li:first-child {
	margin-top: 20px !important;
}

#sidebar > ul > li.widget:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#sidebar .widget-title {
	font-size: 17px;
	font-weight: bold;
	color: #000;
	margin-bottom: 15px;
}

#sidebar .widget-title a {
	color: #000;
	font-size: 17px;
}
#sidebar .hp_event_list ul{
	float: right;
	width: 239px;
	margin-bottom: 40px;
	margin-left: 15px !important;	/*transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;*/
}

#sidebar .hp_event_list ul li{
	padding:5px;
}
#sidebar .hp_event_list ul li h3 {
	font-size:12px;
	font-weight:bold;
}
#sidebar .hp_event_list ul li .date {
font-size: 10px;
	color: #999;
	line-height: 15px;
	clear:both;
}
#sidebar .hp_event_list li.views-row-even {
background:#EFEFEF;
}

/*-------------------------------------------------*/
/* =  Tabs Widget
/*-------------------------------------------------*/
.tabs-widget {
	padding: 0px !important;
	border: 1px solid #d8d8d8;
	border-top: none;
}

.tabs-widget .tab-links {
	margin: 0 -1px;
}

.tabs-widget .tab-links li {
	float: left;
	width: 100px;
}

.tabs-widget .tab-links li a {
	color: #fff;
	color: #000;
	border-top: 1px solid #d8d8d8;
	font-size: 12px;
	padding: 12px 0px;
	text-align: center;
	display: block;
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}

.tabs-widget .tab-links li.active a {
	color: #fff;
	background: #d91c03;
	border-top: 1px solid #d91c03;
}

.tabs-widget > div {
	clear: both;
	padding: 17px;
	display: none;
}

.tabs-widget #popular-tab {
	display: block;
}

.tabs-widget .author-comment {
	color: #7f7f7f;
	font-size: 11px;
	line-height: 14px;
	max-height: 42px;
	overflow: hidden;
	display: block;
}

.tabs-widget .post-date {
	background-position: 75px center;
	padding-left: 96px;
	height: 22px;
	line-height: 24px;
}

.tabs-widget > div li {
	overflow: hidden;
	margin-top: 14px;
}

.tabs-widget > div li:first-child {
	margin-top: 0px;
}

.tabs-widget > div li > a {
	display: block;
}

.tabs-widget img {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 14px;
}

.tabs-widget > div h3 {
	margin: 0 0 4px 0px;
	line-height: 17px;
	max-height: 34px;
	overflow: hidden;
}

.tabs-widget > div h3 a {
	color: #828282;
	display: block;
	font-size: 13px;
}

.tabs-widget > div h3 a:hover {
	opacity: 0.8;
}

.tabs-widget > div#comments-tab h3 {
	max-height: 15px;
}

footer .tabs-widget {
	width: 299px !important;
}

footer .tabs-widget,
footer .tabs-widget .tab-links li a {
	border: none;
}

footer .tabs-widget > div {
	padding: 17px 7px;
}

footer .tabs-widget .post-date,
footer .tabs-widget .author-comment {
	color: #a3a3a3 !important;
}

footer .tabs-widget * {
	color: #fff !important;
}

/*-------------------------------------------------*/
/* =  Subsribe Widget
/*-------------------------------------------------*/
li.subscribe-widget form {
	height: 30px;
	overflow: hidden;
}

li.subscribe-widget input[type="text"] {
	float: left;
	border: 1px solid #d8d8d8;
	padding: 0 0 0 10px;
	font-size: 11px;
	color: #6a6a6a;
	width: 100%;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

li.subscribe-widget input[type="submit"] {
	float: right;
	font-weight: bold;
	background: #d91c03;
	font-size: 12px;
	color: #fff;
	height: 30px;
	width: 80px;
	text-align: center;
	line-height: 30px;
	border: none;
	position: relative;
	top: -30px;
}

/*-------------------------------------------------*/
/* =  Ads Small Widget
/*-------------------------------------------------*/
#sidebar li.widget_ads_small {
	margin-bottom: 18px !important;
}

li.widget_ads_small li {
	float: left;
	width: 142px;
	height: 142px;
	margin: 0 16px 16px 0;
	margin: 0 8px 8px 0\0/;
	overflow: hidden;
}

li.widget_ads_small li img {
	width: 142px;
	height: 142px;
}

li.widget_ads_small li:nth-child(2n) {
	margin-right: 0px;
}

/*-------------------------------------------------*/
/* =  Ads Big Widget
/*-------------------------------------------------*/
li.widget_ads_big > div {
	width: 100%;
}

li.widget_ads_big > div img {
	max-width: 100%;
}

/*-------------------------------------------------*/
/* =  Facebook Box Widget
/*-------------------------------------------------*/
li.widget_facebook_box iframe {
	background: #fff;
	border: none;
	overflow: hidden;
	width: 100%;
	height: 258px;
}

/*-------------------------------------------------*/
/* =  Google+ Box Widget
/*-------------------------------------------------*/
li.widget_google_plus > div {
	width: 100%;
}

/*-------------------------------------------------*/
/* =  Video Widget
/*-------------------------------------------------*/
li.widget_video iframe {
	width: 100%;
}

/*-------------------------------------------------*/
/* =  Archive Widget, Categories Widget & Pages Widget
/*-------------------------------------------------*/
li.widget_archive li,
li.widget_categories li,
li.widget_pages li,
li.widget_recent_entries li,
li.widget_recent_comments li {
	display: block;
	color: #b5b5b5;
	font-style: italic;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 15px;
}

li.widget_recent_comments li {
	font-style: normal;
	margin-bottom: 10px;
}

li.widget_archive li:last-child,
li.widget_categories li:last-child,
li.widget_pages li:last-child,
li.widget_recent_entries li:last-child,
li.widget_recent_comments li:last-child {
	margin-bottom: 0px;
}

li.widget_archive li a,
li.widget_categories li a,
li.widget_pages li a,
li.widget_recent_entries li a,
li.widget_recent_comments li a {
	color: #000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

li.widget_recent_comments li a {
	line-height: 20px;
}

li.widget_recent_comments li a.url {
	font-weight: bold;
}

li.widget_categories ul.children {
	margin: 15px 0 0 20px;
	/*display: none;*/
}

footer li.widget_archive li a,
footer li.widget_pages li a,
footer li.widget_categories li a,
footer li.widget_recent_entries li a,
footer li.widget_recent_comments li a {
	color: #fff;
}

footer li.widget_archive li,
footer li.widget_pages li,
footer li.widget_categories li,
footer li.widget_recent_entries li,
footer li.widget_recent_comments li {
	color: #909191;
}

/*-------------------------------------------------*/
/* =  RSS Widget
/*-------------------------------------------------*/
li.widget_rss .widget-title > a:first-child {
	display: none;
}

li.widget_rss li {
	margin-bottom: 15px;
}

li.widget_rss .rsswidget {
	display: block;
	color: #000;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 5px;
}

li.widget_rss .rss-date {
	display: block;
	color: #D91C03;
	font-size: 11px;
	padding: 3px 0 8px 0;
}

li.widget_rss .rssSummary {
	line-height: 20px;
	color: #6D6D6D;
}

/*-------------------------------------------------*/
/* =  Flicker Widget
/*-------------------------------------------------*/
.flickr-widget a {
	float: left;
	margin: 0 9px 9px 0px;

	transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
}

.flickr-widget a:nth-child(3n) {
	margin: 0 0px 9px 0px;
}

.flickr-widget a:hover {
	opacity: 0.70;
	-moz-opacity: 0.70;
	filter:alpha(opacity=70);
}

.flickr-widget a,
.flickr-widget a img {
	width: 94px;
	width: 91px\0/;
	height: 70px;
}

/*-------------------------------------------------*/
/* =  Search Widget
/*-------------------------------------------------*/
li.widget_search form {
	height: 30px;
	overflow: hidden;
}

li.widget_search input[type="text"] {
	float: left;
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	border: 0px;
	font-family: 'Times New Romans';
	font-style: italic;
	font-size: 11px;
	color: #bfbfbf;
	border: 1px solid #d8d8d8;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

li.widget_search input[type="submit"] {
	float: right;
	border: 1px solid #d8d8d8;
	width: 31px;
	height: 28px;
	background:#fff url(../images/search-icon.png) no-repeat center center;
	cursor: pointer;
	position: relative;
	top: -28px;
}

/*-------------------------------------------------*/
/* =  Twitter Widget
/*-------------------------------------------------*/
.twitter-widget {
	margin-top: -4px;
}

.twitter-widget li {
	display: block;
	margin-top: 20px;
}

.twitter-widget li:first-child {
	margin-top: 0px;
}

.twitter-widget p {
	color: #fff;
	line-height: 22px;
}

#sidebar .twitter-widget p {
	color: #6d6d6d;
}

.twitter-widget a {
	color: #a3a3a3;
}

#sidebar .twitter-widget a {
	color: #000;
}

/*-------------------------------------------------*/
/* =  Text Widget
/*-------------------------------------------------*/
.textwidget p {
	color: #6d6d6d;
	font-size: 13px;
	line-height: 20px;
	margin-top: -5px;
}

footer .textwidget p {
	color: #909191;
}

.textwidget img {
	float: left;
	margin: 5px 15px 10px 0;
}

/*-------------------------------------------------*/
/* =  Tag Cloud Widget
/*-------------------------------------------------*/
li.widget_tag_cloud .tagcloud a {
	float: left;
	color: #fff;
	font-size: 12px !important;
	padding: 7px;
	background: #666;
	margin: 0 6px 6px 0;

	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}

li.widget_tag_cloud .tagcloud a:hover {
	background: #d91c03;
}

/*-------------------------------------------------*/
/* =  Social Media Widget
/*-------------------------------------------------*/
li.widget_social_media > ul > li {
	float: left;
	width: 143px;
	height: 84px;
	margin: 0 14px 14px 0;
	margin: 0 7px 7px 0\0/;
}

li.widget_social_media > ul > li:nth-child(2n) {
	margin-right: 0;
}

li.widget_social_media > ul > li:nth-last-child(-n+2) {
	margin-bottom: 0px;
}

li.widget_social_media div.button {
	position: relative;
	top: 54px;
	left: 13px;
}

li.widget_social_media li.twitter {
	background: url(../images/twitter.png) no-repeat;
}

li.widget_social_media li.google_plus {
	background: url(../images/google_plus.png) no-repeat;
}

li.widget_social_media li.facebook {
	background: url(../images/facebook.png) no-repeat;
}

li.widget_social_media li.pinterest {
	background: url(../images/pinterest.png) no-repeat;
}

/*-------------------------------------------------*/
/* =  Video Page
/*-------------------------------------------------*/
.video-container {
	width: 100%;
	margin-bottom: 40px;
}

.video-container li {
	float: left;
	width: 193px;
	max-height: 202px;
	margin: 0 20px 10px 0;
	margin: 0 13px 10px 0\0/;
	overflow: hidden;
}

.video-container li:nth-child(3n) {
	margin-right: 0px;
}

.video-container li img {
	width: 179px;
	height: 138px;
	position: relative;
	border: 7px solid #eee;
}

.video-container li > a {
	display: block;
	position: relative;
}

.video-container li > a:hover:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../images/video-image-hover.png) no-repeat center center;
}

.video-container li > a:hover {
	opacity: 0.80;
	-moz-opacity: 0.80;
	filter:alpha(opacity=80);
}

.video-container .post-title {
	font-size: 14px;
	line-height: 20px;
	margin: 5px 0 0 0;
}

/*-------------------------------------------------*/
/* =  Error Page
/*-------------------------------------------------*/
.error-404 p {
	font-family: 'Georgia';
	font-size: 72px;
	text-transform: uppercase;
	color: #dbdbdb;
	line-height: normal;
	margin: 120px 0;
	text-align: center;
}

.error-404 p b {
	font-size: 102px;
	color: #d91c03;
	font-weight: normal;
}

.error-404 p span {
	display: block;
	font-family: arial;
	font-size: 13px;
	text-transform: none;
	color: #acacac;
	text-align: left;
	padding-left: 88px;
	margin-top: -10px;
}

/*-------------------------------------------------*/
/* =  Comments
/*-------------------------------------------------*/

ol#comments,
ol#comments ul,
ol#comments li {
	list-style: none !important;
}

ol#comments li {
	margin-bottom: 20px;
}

ol#comments a {
	color: #424344;
}

ol#comments a:hover {
	color: #777;
}

ol#comments .comment-text a {
	color: #509ABD;
}

ol#comments .comment-text a:hover {
	color: #316D89;
}

ol#comments .author-avatar {
	float: left;
	width: 51px;
	height: 51px;
	margin-right: 15px;
}

ol#comments .author-avatar img {
	width: 51px;
	height: 51px;
	position: relative;
	z-index: 2;
}

ol#comments .comment-author {
	color: #454545;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

ol#comments .comment-date {
	font-family: 'Times New Roman';
	font-size: 11px;
	font-style: italic;
	color: #9c9c9c;
	margin-bottom: 6px;
}

ol#comments .comment-text {
	color: #828282;
	line-height: 18px;
	margin-left: 67px;
	position: relative;
}

ol#comments .comment-reply {
	margin-left: 67px;
}

ol#comments .comment-reply a.comment-reply-link {
	font-size: 11px;
	color: #fff !important;
	padding: 5px 10px;
	background: #888;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
}

ol#comments .comment-reply a.comment-reply-link:hover {
	background: #4b4b4b;
}

/* -- Comment Tree -- */
ol#comments ul.children {
	margin-left: 24px;
	padding-left: 43px;
	position: relative;
	border-left: 1px dotted transparent;
	margin-top: 20px;
}

ol#comments ul.children.border {
	border-left: 1px dotted transparent;
}

ol#comments ul.children:not(.border) li:first-child .author-avatar:after {
	content: '';
	border-left: 1px dotted #a8a8a8;
	position: absolute;
	left: -44px;
	top: 0px;
	height: 29px;
}

ol#comments ul.children .author-avatar:before {
	content: '';
	position: absolute;
	left: -43px;
	margin-top: 28px;
	height: 35px;
	width: 27px;
	border-top: 1px dotted #a8a8a8;
}

ol#comments ul.children li {
	position: relative;
}

ol#comments li.depth-1 > .comment-text:before,
ol#comments li.depth-2 > .comment-text:before,
ol#comments li.depth-3 > .comment-text:before,
ol#comments li.depth-4 > .comment-text:before {
	content: '';
	position: absolute;
	left: -43px;
	margin-top: 43px;
	height: 100%;
	border-left: 1px dotted #a8a8a8;
}

ol#comments span.border-left {
	position: absolute;
	top: 0px;
	left: -1px;
	/*height: 90%;*/
	border-left: 1px dotted #a8a8a8;
	width: 0px;
}

ol#comments li.last-child > .comment-text:before {
	content: '';
	border-color: transparent !important;
}

/* -- Reply Form -- */
#reply {
	margin: 10px 0 46px 0;
}

#reply input[type="text"],
#reply textarea {
	padding: 8px 10px !important;
	margin-bottom: 10px !important;
}

#reply input[type="submit"] {
	background: #454545 !important;
	color: #fff !important;
	text-transform: none !important;
	padding: 10px 15px !important;
	margin-right: 0px;
}

/*-------------------------------------------------*/
/* =  Shortcodes
/*-------------------------------------------------*/
h4.shortcodes-title {
	clear: both;
	font-size: 16px !important;
	font-weight: bold;
	color: #5a5a5a !important;
	position: relative;
	padding: 15px 0px;
	margin-bottom: 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #D2D2D2;
}

h4.shortcodes-title:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	border-top: 1px solid #D2D2D2;
}

h4.shortcodes-title:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 1px solid #fff;
}

h4.shortcodes-title:first-child {
	padding-top: 0px !important;
	border-top: none;
}

h4.shortcodes-title:first-child:before {
	content: '';
	border: none !important;
}

/* -- Dropcap -- */
.dropcap1,
.dropcap2 {
	float: left;
	width: 193px;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

.dropcap1.last,
.dropcap2.last {
	margin-right: 0px;
}

.dropcap1 > h6,
.dropcap2 > h6 {
	color: #505050 !important;
	font-size: 16px !important;
	display: block;
	margin-bottom: 10px;
	font-weight: normal !important;
}

.dropcap1 span.large-cap {
	float: left;
	width: 44px;
	height: 44px;
	line-height: 44px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 10px 10px 0px;
	background: url(../images/dropcap1-bg.png) no-repeat;
}

.dropcap2 span.large-cap {
	float: left;
	width: 44px;
	height: 38px;
	color: #d91c03;
	line-height: 38px;
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 10px 2px 0px;
}

/* -- Columns -- */
.col-2,
.col-3,
.col-4,
.col-5 {
	float: left;
	margin: 0px 20px 20px 0px;
}

.col-2.last,
.col-3.last,
.col-4.last,
.col-5.last {
	margin-right: 0px !important;
}

.col-2 {
	width: 299px;
}

.col-3 {
	width: 193px;
}

.col-4 {
	width: 139px;
}

.col-5 {
	width: 107px;
}

.col-2 > h5,
.col-3 > h5,
.col-4 > h5,
.col-5 > h5 {
	color: #505050 !important;
	font-size: 16px !important;
	margin-bottom: 10px;
}

.space {
	margin-bottom: 15px;
}

/* -- Buttons -- */
.button-red,
.button-yellow,
.button-green,
.button-blue,
.button-gray,
.button-black,
.button-violet,
.button-oqean,
.button-dark-violet,
.button-gold,
.button-light-green,
.button-brown {
	display: inline-block;
	padding: 10px 27px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	margin: 0px 4px 8px 0px;
	border: 1px solid #aeaeae;
	cursor: pointer;

	transition: all 0.2s linear;
 	-moz-transition: all 0.2s linear;
 	-webkit-transition: all 0.2s linear;
 	-o-transition: all 0.2s linear;
}

.button-red:hover,
.button-yellow:hover,
.button-green:hover,
.button-blue:hover,
.button-gray:hover,
.button-black:hover,
.button-violet:hover,
.button-oqean:hover,
.button-dark-violet:hover,
.button-gold:hover,
.button-light-green:hover,
.button-brown:hover {
	color: #eee;
	opacity: 0.90;
	-moz-opacity: 0.90;
	filter:alpha(opacity=90);
}

.button-red {
	background: #b71111; /* Old browsers */
	background: -moz-linear-gradient(top,  #b71111 0%, #a50000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b71111), color-stop(100%,#a50000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b71111 0%,#a50000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b71111 0%,#a50000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b71111 0%,#a50000 100%); /* IE10+ */
	background: linear-gradient(top,  #b71111 0%,#a50000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71111', endColorstr='#a50000',GradientType=0 ); /* IE6-9 */
}

.button-yellow {
	background: #e4ad12; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4ad12 0%, #d39c01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4ad12), color-stop(100%,#d39c01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4ad12 0%,#d39c01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4ad12 0%,#d39c01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4ad12 0%,#d39c01 100%); /* IE10+ */
	background: linear-gradient(top,  #e4ad12 0%,#d39c01 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ad12', endColorstr='#d39c01',GradientType=0 ); /* IE6-9 */
}

.button-green {
	background: #517d26; /* Old browsers */
	background: -moz-linear-gradient(top,  #517d26 0%, #3f6b12 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#517d26), color-stop(100%,#3f6b12)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #517d26 0%,#3f6b12 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #517d26 0%,#3f6b12 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #517d26 0%,#3f6b12 100%); /* IE10+ */
	background: linear-gradient(top,  #517d26 0%,#3f6b12 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#517d26', endColorstr='#3f6b12',GradientType=0 ); /* IE6-9 */
}

.button-blue {
	background: #198bc7; /* Old browsers */
	background: -moz-linear-gradient(top,  #198bc7 0%, #0579b6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#198bc7), color-stop(100%,#0579b6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #198bc7 0%,#0579b6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #198bc7 0%,#0579b6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #198bc7 0%,#0579b6 100%); /* IE10+ */
	background: linear-gradient(top,  #198bc7 0%,#0579b6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198bc7', endColorstr='#0579b6',GradientType=0 ); /* IE6-9 */
}

.button-gray {
	background: #969696; /* Old browsers */
	background: -moz-linear-gradient(top,  #969696 0%, #838383 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#838383)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #969696 0%,#838383 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #969696 0%,#838383 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #969696 0%,#838383 100%); /* IE10+ */
	background: linear-gradient(top,  #969696 0%,#838383 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#838383',GradientType=0 ); /* IE6-9 */
}

.button-black {
	background: #474747; /* Old browsers */
	background: -moz-linear-gradient(top,  #474747 0%, #363636 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474747), color-stop(100%,#363636)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #474747 0%,#363636 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #474747 0%,#363636 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #474747 0%,#363636 100%); /* IE10+ */
	background: linear-gradient(top,  #474747 0%,#363636 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#363636',GradientType=0 ); /* IE6-9 */

}

.button-violet {
	background: #a751ac; /* Old browsers */
	background: -moz-linear-gradient(top,  #a751ac 0%, #95409b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a751ac), color-stop(100%,#95409b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a751ac 0%,#95409b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a751ac 0%,#95409b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a751ac 0%,#95409b 100%); /* IE10+ */
	background: linear-gradient(top,  #a751ac 0%,#95409b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a751ac', endColorstr='#95409b',GradientType=0 ); /* IE6-9 */

}

.button-oqean {
	background: #578faa; /* Old browsers */
	background: -moz-linear-gradient(top,  #578faa 0%, #457e99 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#578faa), color-stop(100%,#457e99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #578faa 0%,#457e99 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #578faa 0%,#457e99 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #578faa 0%,#457e99 100%); /* IE10+ */
	background: linear-gradient(top,  #578faa 0%,#457e99 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#578faa', endColorstr='#457e99',GradientType=0 ); /* IE6-9 */

}

.button-dark-violet {
	background: #5c57a7; /* Old browsers */
	background: -moz-linear-gradient(top,  #5c57a7 1%, #4c4595 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5c57a7), color-stop(100%,#4c4595)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5c57a7 1%,#4c4595 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5c57a7 1%,#4c4595 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5c57a7 1%,#4c4595 100%); /* IE10+ */
	background: linear-gradient(top,  #5c57a7 1%,#4c4595 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c57a7', endColorstr='#4c4595',GradientType=0 ); /* IE6-9 */
}

.button-gold {
	background: #beb41e; /* Old browsers */
	background: -moz-linear-gradient(top,  #beb41e 0%, #ada30d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#beb41e), color-stop(100%,#ada30d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #beb41e 0%,#ada30d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #beb41e 0%,#ada30d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #beb41e 0%,#ada30d 100%); /* IE10+ */
	background: linear-gradient(top,  #beb41e 0%,#ada30d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beb41e', endColorstr='#ada30d',GradientType=0 ); /* IE6-9 */
}

.button-light-green {
	background: #3ebd28; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ebd28 0%, #2bab16 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ebd28), color-stop(100%,#2bab16)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ebd28 0%,#2bab16 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ebd28 0%,#2bab16 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ebd28 0%,#2bab16 100%); /* IE10+ */
	background: linear-gradient(top,  #3ebd28 0%,#2bab16 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ebd28', endColorstr='#2bab16',GradientType=0 ); /* IE6-9 */
}

.button-brown {
	background: #9c5b55; /* Old browsers */
	background: -moz-linear-gradient(top,  #9c5b55 0%, #8b4b42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c5b55), color-stop(100%,#8b4b42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9c5b55 0%,#8b4b42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9c5b55 0%,#8b4b42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9c5b55 0%,#8b4b42 100%); /* IE10+ */
	background: linear-gradient(top,  #9c5b55 0%,#8b4b42 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c5b55', endColorstr='#8b4b42',GradientType=0 ); /* IE6-9 */
}

.bullet-list,
.link-list,
.map-list,
.arrow-list {
	float: left;
	overflow: hidden;
	width: 289px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.bullet-list li,
.link-list li,
.map-list li,
.arrow-list li {
	color: #4d4d4d;
	padding-left: 25px;
	display: block;
	min-height: 24px;
	line-height: 24px;
}

.bullet-list li {
	background: url(../images/bullet-style.png) no-repeat left center;
}

.link-list li {
	background: url(../images/link-style.png) no-repeat left center;
}

.map-list li {
	background: url(../images/map-style.png) no-repeat left center;
}

.arrow-list li {
	background: url(../images/arrow-style.png) no-repeat left center;
}

/* -- Tabs -- */
.tabs {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid #BCBCBC;
}

.tabs > ul {
	position: relative;
	top: 1px;
	z-index: 3;
	margin: 0px !important;
}

.tabs > ul > li {
	float: left;
	list-style: none !important;
	border-top: 1px solid #BCBCBC;
	border-right: 1px solid #5C5C5C;
	background: #5a5a5a; /* Old browsers */
	background: -moz-linear-gradient(top,  #5a5a5a 0%, #4c4c4c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5a5a), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5a5a5a 0%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5a5a5a 0%,#4c4c4c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5a5a5a 0%,#4c4c4c 100%); /* IE10+ */
	background: linear-gradient(top,  #5a5a5a 0%,#4c4c4c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5a5a', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
}

.tabs > ul > li:first-child {
	border-left: 1px solid #BCBCBC;
}

.tabs > ul > li a {
	display: block;
	padding: 12px 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.tabs > ul > li.active {
	background: #fff !important;
	border-right: 1px solid #BCBCBC;
}

.tabs > ul > li.active a {
	color: #3d3d3d;
}

.tabs > div {
	clear: both;
	float: left;
	padding: 20px;
	background: #fff;
	border-left: 1px solid #BCBCBC;
	border-right: 1px solid #BCBCBC;
	display: none;
}

.tabs > div.active {
	border-top: 1px solid #BCBCBC;
	display: block;
}


/* -- Toggle Styles -- */
.toggle-style-1,
.toggle-style-2 {
	float: left;
	width: 299px;
	overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
	background: #fff;
}

.toggle-style-1 > ul,
.toggle-style-2 > ul {
	margin: 0px !important;
}

.toggle-style-1 > ul > li,
.toggle-style-2 > ul > li {
	float: left;
	display: block;
	list-style: none !important;
}

.toggle-style-1 > ul > li > h6,
.toggle-style-2 > ul > li > h6 {
	float: left;
	font-weight: bold;
	border: 1px solid #D2D2D2;
	margin-bottom: 0px;
	border-top: 0px;
	height: 46px;
	line-height: 46px;
	padding-left: 55px;
	width: 242px;
	cursor: pointer;
	color: #424344 !important;
}

.toggle-style-2 > ul > li > h6 {
	padding-left: 12px !important;
	width: 285px !important;
}

.toggle-style-1 > ul > li:first-child > h6,
.toggle-style-2 > ul > li:first-child > h6 {
	border-top: 1px solid #D2D2D2;
}

.toggle-style-1 > ul > li > h6 {
	background: url(../images/toggle-plus.png) no-repeat 12px center;
}

.toggle-style-1 > ul > li > h6.expand {
	background: url(../images/toggle-minus.png) no-repeat 12px center;
}

.toggle-style-2 > ul > li > h6 {
	background: url(../images/toggle-down-arrow.png) no-repeat 95% center;
}

.toggle-style-2 > ul > li > h6.expand {
	background: url(../images/toggle-up-arrow.png) no-repeat 95% center;
}

.toggle-style-1 div.inner,
.toggle-style-2 div.inner {
	clear: both;
	display: none;
	padding: 20px;
	border: 1px solid #D2D2D2;
	border-top: none;
}


/* -- Message Boxs -- */
.message-box-1,
.message-box-2,
.message-box-3,
.message-box-4 {
	border: 1px solid #C8C8C8;
	padding: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

.message-box-1 > h6,
.message-box-2 > h6,
.message-box-3 > h6,
.message-box-4 > h6 {
	color: #4d4d4d !important;
	font-weight: bold !important;
	font-size: 14px !important;
	margin-bottom: 10px;
}

.message-box-1 p,
.message-box-2 p,
.message-box-3 p,
.message-box-4 p {
	line-height: 20px;
}

.message-box-1 {
	background: #CCDAF4;
}

.message-box-2 {
	background: #F4CCCC;
}

.message-box-3 {
	background: #E8F3CB;
}

.message-box-4 {
	background: #CBECF3;
}

/*-------------------------------------------------*/
/* =  Footer
/*-------------------------------------------------*/
footer {
	clear: both;
	display: block !important;
	padding: 20px 20px 0 20px;
	margin: 0 -20px -20px -20px;
	background: url(../images/footer-bg.png);
}

footer > ul > li {
	float: left;
	width: 300px;
	margin-left: 30px;
}

footer > ul > li:first-child {
	margin-left: 0px;
}

footer .widget-title {
	font-size: 17px;
	color: #a8a8a8;
	margin: 10px 0 20px 0;
}

footer .copyright {
	padding: 12px 0 20px 0;
}

footer .copyright p {
	color: #909191;
}

footer .copyright a {
	color: #fff;
}

footer a:hover {
	opacity: 0.7;
}

/*-------------------------------------------------*/
/* =  Back to TOP
/*-------------------------------------------------*/
#top {
	clear: both;
	margin: 0 -20px;
	padding-top: 15px;
	text-align: center;
	background: url(../images/back-top-bg.png) repeat-x left bottom;
}

#top a {
	display: inline-block;
	width: 51px;
	height: 33px;
	text-indent: -9999px;
	background: url(../images/back-top.png) no-repeat;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

#top a:hover {
	opacity: 0.8;
}

/*-------------------------------------------------*/
/* =  Change Color
/*-------------------------------------------------*/
/*header nav > ul > li > a:not(.active):hover {
	border-bottom: 2px solid #F0E429 !important;
	color: #F0E429;
}

.contact-form input[type="submit"],
.subscribe-widget input[type="submit"],
header nav li a.active,
.carousel .read-more,
li.widget_tag_cloud .tagcloud a:hover {
	background: #F0E429 !important;
}

li.widget_rss .rss-date,
.error-404 p b,
.dropcap2 span.large-cap,
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
header #sub-menu a:hover {
	color: #F0E429 !important;
}

.page-title:after {
	content: '';
	border-left: 7px solid #F0E429 !important;
}

.tabs-widget .tab-links li.active a {
	background: #F0E429 !important;
	border-top: 1px solid #F0E429 !important;
}

#slider.version1 .flex-caption {
	background: rgba(240, 228, 41, 0.8);
	background: url(http://www.htmltocss.com/rgbatopng.php?rgba=240,228,41,0.8);
}

#slider.version3 .flex-control-thumbs li img.flex-active {
	border-color: rgba(240, 228, 41, 0.8);
}*/
